.container-1 {
  margin-top: 50%;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-1 .card-2 {
  height: auto;
  max-width: 250px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.card-images {
  margin-bottom: 30px;
  background-size: cover;
  border-radius: 10px 10px 10px 10px;
}
.car-2 {
  background-position: center;
}
